<!DOCTYPE html>
<HTML>
<HEAD>
<title>
Online Payments Fraud Detection Uising ML
</title>
<center>
<font size="3" color="Blue">  
<H1> ONLINE PAYMENTS FRAUD DETECTION USING MACHINE LEARNING</H1>
</font>
</HEAD>

<BODY>
<img.src = "D:\online fraud detection.jpg" >

</img.src>
 
<button> Home </button>
<button> Predict </button>

<br>
<font size="4" color="Black">
<P> This article aims to predict online payment fraud using classification algorithms like Decision Tree, Random Forest, SVM, and Extra Tree Classifier. By categorizing transactions into fraud and non-fraud classes, these models enhance the identification of fraudulent online payments. The focus is on effective training and testing using diverse algorithms for accurate predictions.By analyzing various parameters, these models classify online transactions, helping to detect and prevent fraudulent activities, ultimately safeguarding users and ensuring the security of online payments. </p>
</font>
</BODY>

</HTML>
